@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
#road{
    display: flex;
    float: right;
}
#stud{
    display: flex;
    float: left;
    font-size: 25px;
    margin-bottom: 10px;
}
#road, #stud{
    margin-top: 15px;
}
#road a{
    text-decoration: none;
    color:black
}
#road a:last-child {
    cursor: default;
}
.roadIcon {
    transform: scale(0.8) translateX(-6px) translateY(-3px)
}



.container {
    display: flex;
    margin: auto;
    max-width: 98%;
    width: 100%;
    height: fit-content;
    padding-top: 25px;
    padding-bottom: 30px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 2px 2px 15px lightgrey;
    padding-right: 20px;
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
    /* align-items: center;
    justify-content: center;
    min-height: 100vh; */
    background-color:white
}
::selection{
    color: #fff;
    background: #6990F2;
  }
  .wrapperUpload{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    /* box-shadow: 7px 7px 12px rgba(0,0,0,0.05); */
  }
  .wrapperUpload header{
    color: #6990F2;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
  }
  .wrapperUpload form{
    height: 167px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990F2;
  }
  form :where(i, p){
    color: #6990F2;
  }
  form i{
    font-size: 50px;
  }
  form p{
    margin-top: 15px;
    font-size: 16px;
  }
  
  section .row{
    margin-bottom: 10px;
    background: #E9F0FF;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  section .row i{
    color: #6990F2;
    font-size: 30px;
  }
  section .details span{
    font-size: 14px;
  }
  .progress-area .row .content{
    width: 100%;
    margin-left: 15px;
  }
  .progress-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
  }
  .progress-area .content .progress-bar{
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
  }
  .content .progress-bar .progress{
    height: 100%;
    width: 0%;
    background: #6990F2;
    border-radius: inherit;
  }
  .uploaded-area{
    max-height: 232px;
    overflow-y: scroll;
  }
  .uploaded-area.onprogress{
    max-height: 150px;
  }
  .uploaded-area::-webkit-scrollbar{
    width: 0px;
  }
  .uploaded-area .row .content{
    display: flex;
    align-items: center;
  }
  .uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
  }
  .uploaded-area .row .details .size{
    color: #404040;
    font-size: 11px;
  }
  .uploaded-area i.fa-check{
    font-size: 16px;
  }

.submitBtn {
    border-radius: 8px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: #7366ff;
    transition-duration: 0.5s;
}
.submitBtn:active {
    background-color:#8A2BE2 ;
}
.submitBtn:hover {
    box-shadow: 2px 2px 15px #6355f6;
}